:root {
  --branding-color: white;
  --secondary-color: #000000;
  --default-font-family: "Roboto", sans-serif;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4 {
  color: var(--branding-color);
  font-family: var(--default-font-family);
}
h1 {
  font-size: 96px;
  font-weight: bold;
}
li {
  color: var(--branding-color);
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  font-size: 25px;
  display: inline;
  list-style-type: none;
  line-height: 42px;
  margin-left: 30px;
}
nav a {
  text-decoration: none;
  color: var(--branding-color);
}
footer {
  margin: 50px 0;
}
a {
  color: #daa061;
}
.hero {
  text-align: center;
  padding: 90px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 30px;
  margin: 0;
  color: var(--branding-color);
}
.hero h2 {
  font-size: 35px;
}
nav a:hover,
nav li.active a {
  color: #daa061;
  transition: all 120ms ease-in-out;
}
.project-description,
.contact-container {
  padding: 10px 60px;
  background: grey;
  background: rgb(1, 0, 40);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(166, 166, 177, 0.13963963963963966) 0%
  );
  border-radius: 4px;
}
.logo {
  max-height: 130px;
}
.btn-branding {
  color: var(--branding-color);
  border-radius: 8px;
  border: 3px solid var(--branding-color);
  font-size: 40px;
  padding: 15px 25px;
  margin: 50px 30px;
}
.btn-branding-outline {
  background: var (--secondary-color);
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 6px 12px;
  font-size: 35px;
  transition: all 120ms ease-in-out;
}
footer .facebook a,
.email a,
.message a,
.copyright a {
  color: var(--branding-color);
}
footer .facebook a:hover {
  color: #3e62a9;
}
footer .email a:hover {
  color: #1e88e5;
}
footer .message a:hover {
  color: #2e9afb;
}
footer .copyright a:hover {
  cursor: default;
}
@media (max-width: 1400px) {
  body {
    background-size: auto;
  }
  h1 {
    font-size: 65px;
  }
  li {
    list-style-type: circle;
  }
  a {
    color: #daa061;
  }
  .hero {
    padding: 60px 20px;
  }
  .hero h2 {
    font-size: 30px;
  }
  .hero p {
    font-size: 24px;
  }
  .btn-branding {
    background: var (--secondary-color);
    color: var(--branding-color);
    border-radius: 8px;
    border: 3px solid var(--branding-color);
    font-size: 30px;
    padding: 10px 20px;
    margin: 40px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    text-align: center;
  }
}
